*{
    font-family: 'Poppins';
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.wishcart Button{
    box-shadow: none;
}

.wishcart Button:hover i{
   color:rgb(85, 178, 68) !important;
   
}

.head-link:hover{
    color:rgb(144, 144, 144) !important;
}